html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(img/h1.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
    background: transparent;
    color: steelblue;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;
}

button {
    border: none;
    border-radius: 8px;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background: steelblue;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

.selected {
    color: white;
    background: steelblue;
}

#container {
    max-width: 600px;
    margin: 20px auto;
    padding-bottom: 400px;
}

#message {
    display: inline-block;
    width: 20%;
    color: #800080;
    letter-spacing: 1px;
}

#stripe {
    background: transparent;
    height: 30px;
    text-align: center;
}

#colorDisplay {
    text-transform: uppercase;
    font-size: 150%;    
}